# Private config
.env


# Private project folder
PIXCEL/
nazca_course.py

# Generated GDS files (exclude public output folders)
*.gds
*.lyrdb
!layout_gds/
!layout_gds/**
!drc_outputs/
!drc_outputs/**

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.egg-info/

# uv lock (optional: keep if you want reproducible installs)
# uv.lock

# macOS
.DS_Store
